@font-face {
  font-family: 'Velvelyne';
  src: url('../portfolio/fonts/Velvelyne-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}


body {
  background-color: #f9f9f9; 
  font-family: 'Velvelyne', Arial, sans-serif;
  color: #333;
}

h1 {
  color: black;
  font-size: 2em;
  font-family: 'Velvelyne', Arial, sans-serif;
}

p {
  line-height: 1.6;
}

h2, h3 {
  font-family: 'Velvelyne', Arial, sans-serif;
}
