@font-face {
  font-family: 'Velvelyne';
  src: url('../portfolio/fonts/Velvelyne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Avara_Bold';
    src:url('../portfolio/fonts/Avara-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_BoldItalic';
    src:url('../portfolio/fonts/Avara-BoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Black';
    src:url('../portfolio/fonts/Avara-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color:transparent; 
  font-family: 'Velvelyne', Arial, sans-serif;
  color: #333;
  padding:5px;
}

h1 {
  color: black;
  font-size: 2em;
  font-family: 'Avara_BoldItalic', Arial, sans-serif;
}
nav ul {
  position: fixed;
  top: 0px; /* You can adjust this to 0 if it's too high */
  display: flex;
  font-size: 3.7vw;
  font-weight: 100;
  z-index: 50;
  letter-spacing: 0.5px;
  transform: rotate(0deg);
  margin: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent !important;
  width: 100%;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  text-align:left;
  width:100%;
  padding: 5px 0vw;
  font-family:'Avara-Bold', Velvelyne;
}

nav ul li a:link,
nav ul li a:visited {
  color: black;
}

nav ul li a:hover {
  background-color: #000000;
  color: white;
}

nav ul li a:active {
  background-color: #000000;
}

p {
  line-height: 1.6;
}

h2, h3 {
  font-family: 'Velvelyne', Arial, sans-serif;
}
