body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  color: black;
  font-size: 2em;
}

p {
  line-height: 1.6;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('fonts/velvelyne-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'MyCustomFont', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2, h3 {
  font-family: 'MyCustomFont', sans-serif;
}
