@font-face {
  font-family: 'Velvelyne';
  src: url('../portfolio/fonts/Velvelyne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Avara_Bold';
    src:url('../portfolio/fonts/Avara-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_BoldItalic';
    src:url('../portfolio/fonts/Avara-BoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Black';
    src:url('../portfolio/fonts/Avara-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
  font-family: 'Noto-Sans-Egyptian-Hieroglyphs';
  src:url('../portfolio/fonts/NotoSansEgyptianHieroglyphs-Regular.woff2') format(woff2);
  font-weight: normal;
  font-style:normal;
}

@font-face{
  font-family: 'Teranoptia';
  src:url('../portfolio/fonts/Teranoptia-Furiae.woff2') format('woff2');
  font-weight: normal;
  font-style:normal;
}

* {
  box-sizing: border-box;
}

nav ul li a .hiero {
  font-family: 'Noto-Sans-Egyptian-Hieroglyphs', serif; 
  font-size: 30px !important;
  display:inline-block;
  line-height: 1;
  vertical-align: middle; 
  margin-right: 8px;
  top: 1px;
}

nav ul li a .title {
  font-family: 'Inclusive Sans', Arial, sans-serif;
  font-size: 40px;
  line-height: 1;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden; 
  background-color: #d498c5; 
}

nav ul {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 100px; 
  margin: 0px;    
}

h1 {
  color: black;
  font-size: 2em;
  font-family: 'Velvelyne', Arial, sans-serif;
}

nav {
  position: fixed;
  top: 0;     
  left: 0;
  width: 100vw; 
  height: 100px;
  margin: 0;
  padding: 0;
  background-color: transparent; 
  display: flex;
  align-items: flex-start; 
  z-index: 50;
  justify-content: flex-start;
}


nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  font-size: 40px;
  font-weight: 100;
  list-style: none;
  align-items: flex-start; 
}


nav ul li {
  display: flex;
  align-items: flex-start;
  height: 100px;
  margin-top: 0px;
  margin-right: 0px;
}

nav ul li a {
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  font-family: 'Avara_Bold', Arial, sans-serif;
  font-size: 40px !important;
  line-height: 1;
  padding: 3px 38px 0 0;
  margin: 0;
  text-decoration: none;
  color: black;
  background-color: transparent;
  flex-shrink: 0;
  font-weight: normal;
  backface-visibility: hidden;
  transform: translateZ(0);
}

nav ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #30e047;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease;
}

nav ul li a:hover::before {
  opacity: 1;
}

nav ul li a:hover {
  color: white;
}

nav ul li:last-child a {
  padding-right: 0;
}

nav ul li a:hover {
  background-color: #30e047 !important;
  color: white;
  padding: 3px 0 0 0;

}

nav ul li a:active {
  background-color: #30e047;
}

p {
  line-height: 1.6;
}

h2, h3 {
  font-family: 'Velvelyne', Arial, sans-serif;
}

.bio-text {
  position:fixed;
  top: 120px;
  right: 40px;
  width: 350px;
  padding: 10px 15px;
  font-family: 'Inclusive Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: black;
  border-radius: 8px;
  z-index: 1000; 
}

.bio-heading{
  position:static;
  top: 400px;
  right: 70px;
  width: 200px;
  padding: 10px 15px;
  font-family: 'Teranoptia', Arial, sans-serif;
  font-size: 40px;
  line-height: 1.4;
  color: black;
  border-radius: 8px;
  z-index: 1000; 
}

.bio-contact{
  position:static;
  top: 150px;
  right: 35px;
  width:200px;
  padding: 10px 15px;
  font-family: 'Inclusive Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: black;
}